.cardList{
    margin-inline-start: auto;
    margin-inline-end: auto;
    align-items: center;
    
    width: 1000px;
    height: 1000px;
}
.Row-2{
    
    pointer-events: none;
    cursor:not-allowed;
    cursor: none;
}

.Row-0{
    cursor: pointer;
}
.Row-1{
    cursor: pointer;
}

.card{
    border-color: #c2b794;
}

.card:active{
    transform: translateX(15px);
    rotate: y 45deg;
    rotate: z 5deg;
}
.card:hover{
    transform: translateX(10px);
}